[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "==2.3.2"
python-dotenv = "==0.14.0"
sqlalchemy = "==2.0.30"

[dev-packages]

[requires]
python_version = "3.12"
